.c-article {
  margin: 72px 0 0;
  position: relative;
  .wrap {
    width: 100%;
    position: relative;
    display: inline-block;
  }
  .header {
    margin: 0 0 36px;
  }
  .title {
    padding: 0 4px 0 0;
    background: #ffffff;
    display: inline-block;
    font-size: 32px;
    position: absolute;
    bottom: 1px;
    left: 0;
    line-height: 1.4em;
  }
  .thumb {
    display: inline-block;
  }
  .thumb_img {
    width: 100%;
    height: auto;
  }
  .info {
    margin: 12px 0 0;
    font-size: 15px;
  }
  .category {
    margin-right: 12px;
    display: inline-block;
  }
  .date {
    color: #9a9a9a;
  }
  .content {

  }
  h2 {
    margin: 72px 0 36px;
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 16px;
  }
  figcaption {
    margin: 12px 0 0;
    text-align: center;
    color: #9a9a9a;
    font-size: 15px;
  }

 figure {
   margin: 0 0 36px;
 }
  .wp-block-separator {
    width: 45px;
    margin: 48px auto;
    border: 1px solid #ddd;
  }

  ul {
    margin: 0 0 28px;
    li {
      margin: 0 0 8px;
      list-style: disc;
      list-style-position: inside;
    }
  }

  ol {
    margin: 0 0 28px;
    li {
      margin: 0 0 8px;
      list-style: decimal;
      list-style-position: inside;
    }
  }

  hr {
    width: 45px;
    height: 2px;
    margin: 48px auto;
    background-color: #ddd;
    border: none;
  }

  blockquote {
    padding: 24px;
    margin: 0;
    background-color: #f1f1f1;
    display: block;
    word-break: break-word;
    p:last-child {
      margin: 0;
    }
  }
}

.p-article_footer {
  margin: 72px 0 0;
}

.p-article_footer_share {
  margin: 0 0 42px;
}


.p-article_back {
  a {
    padding-left: 15px;
    position: relative;
    display: inline-block;
    &:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 7px;
    height: 12px;
    background: url('./assets/img/arrow_left.svg') top left no-repeat;
  }
  }
}